.overlay {
    padding: 63px 24px;
    width: 100%;
    height: 294px;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--accent-color-four);
    background: rgba(33, 150, 243, 0.9);
  
    transform: translateY(100%);
    transition: transform 250ms var(--transition-timing-function);
  }
  
  .port-about-section-list:hover .overlay {
    transform: translateY(0%);
  }