
.port-main-ul {
  display: flex;
  justify-content: center;
}

.port-about-section-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.port-about-list {
  border: 1px solid #eeeeee;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.port-about-link {
  display: block;
}

.port-about-wndw {
  position: relative;
  overflow: hidden;
}

.port-about-section-list {
  flex-basis: calc((100% - 90px) / 3);
  background: url(portfolio1.jpg);
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;

  transition: box-shadow 250ms var(--transition-timing-function);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.port-about-name {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color-sec);
}

.port-about-desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--accent-color-thr);
}

