.footer {
    background: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-main {
    display: block;
  }
  
  .footer-logo {
    display: flex;
  }
  
  .logo-footer-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color-four);
  }
  
  .logo-black {
    color: var(--accent-color-first);
  }
  
  .footer-address {
    margin-top: 20px;
  }
  
  .footer-location {
    margin-bottom: 10px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color-four);
  }
  
  .footer-mail,
  .footer-tel {
    margin-bottom: 10px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color-fth);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--accent-color-logo);
    }
    &:focus {
        color: var(--accent-color-logo);
    }  
  }
  